.top-navigation {
    background-color: gray;
    position: fixed;
    width: 100%;
    float: right;
}

.content {
    height: 70px;
    width: 400px;
    padding-left: 50px;
    display: block;
}

.logo {
    border-radius: 50%;
    width: 60px;
    padding-top: 5px;
    position: relative;
}

.links {
    float: right;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 10px;
    font-size: 0.95rem;
}

li {
    border-right: 2px solid black;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 0.3rem;
    padding-right: 0.3rem;
}

.center-box {
    border: 10px dotted green;
    height: 300px;
    width: 600px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.spacecat {
    position: absolute;
    top: -100px;
    left: -100px;
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    overflow: visible;
    padding-left: -100px;
}

.spacedog {
    position: absolute;
    top: 75%;
    right: -75px;
    height: 200px;
    width: 200px;
    border: 1px solid blue;
}
